* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(0.25turn, #FF2121, #FF9A62);
}

#monHeader a h1 {
    font-size: 50px;
    color: #FF9A62;
    max-width: 40%;
    transition: all 0.3s ease;
    margin-left: 10px;
}

#monHeader a h1:hover {
    transition: all 0.3s ease;
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0px;
}

.flex #links a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 194, 137);
    transition: all 0.3s ease;
    margin-left: -11px;
}

.flex #links a:hover {
    text-decoration: underline;
    color: white;
    transition: all 0.3s ease;
}

.navG a:hover {
    text-decoration: underline;
    color: white;
    transition: all 0.3s ease;
}

#monHeader {
    border-bottom: 1px solid #FF9A62;
    display: flex;
}

#monHeader a {
    text-decoration: none;
}

.navG {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.navG a {
    text-decoration: none;
    color: rgb(255, 194, 137);
    font-size: 20px;
    align-items: center;
    transition: all 0.3s ease;
}

footer p {
    font-size: 12px;
}

footer #lien a {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 194, 137);
    font-size: 25px;
    text-decoration: underline;
}

footer #lien {
    text-align: center;
    margin-bottom: 50px
}

footer #lien p {
    text-align: center;
    font-size: 20px;
}

.flex #links a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #FF9A62;
    margin-top: 60px;
} 

.flex .titre h1 a {
    margin-left: auto;
    font-size: 50px;
}

div#links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

p {
    font-size: 40px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    color: rgb(255, 194, 137);
}

.likeButton .heart {
    color: black;
}

.likeButton.liked .heart {
    color: red;
}

.likeButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.song {
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    display: flex;
}